Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flakehell, rstcheck

Path conditions:
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

[skip ci]
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update changelog.rst
  docs/source/changelog.rst
Due: rstcheck

Update installation.rst
  docs/source/installation.rst
Due: rstcheck

Update license.rst
  docs/source/license.rst
Due: rstcheck

Update usage.rst
  docs/source/usage.rst
Due: rstcheck

Update conftest.py
  tests/conftest.py
Due: mypy, flakehell

Update TODO
  TODO
Due: none

Update STEP_GUIDE.rst
  STEP_GUIDE.rst
Due: rstcheck

Update conf.py
  docs/source/conf.py
Due: mypy, flakehell

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: rstcheck

arg simple [skip ci]
  noxfile.py
Due: mypy, flakehell

args simple [skip ci]
  TODO
Due: none

Update code-quality.yml
  .github/workflows/code-quality.yml
Due: none

Update dependency-safety.yml
  .github/workflows/dependency-safety.yml
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

Update test-code.yml
  .github/workflows/test-code.yml
Due: none

Update test-docs.yml
  .github/workflows/test-docs.yml
Due: none

fix [skip ci]
  docs/source/installation.rst
Due: rstcheck

step
  STEP_GUIDE.rst
Due: rstcheck

todo
  TODO
  noxfile.py
Due: mypy, flakehell

step
  STEP_GUIDE.rst
  pyproject.toml
Due: rstcheck

todo [skip ci]
  TODO
Due: none

todo
  TODO
Due: none

Update noxfile.py
  noxfile.py
Due: mypy, flakehell

move [skip ci]
  noxfile.py
Due: mypy, flakehell

fixate py ver b/c of error [skip ci]
  .github/workflows/publish.yml
Due: none

fixate py ver b/c of error
  .github/workflows/test-code.yml
Due: none
