Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell

find-todos:
  name: 'Find TODO:|FIXME:|BUG: comments'
  description: 'Check for TODO:|FIXME:|BUG: comments in all files'
  language: pygrep
  entry: (^|//|#|<!--|;|/\*|\.\.)\s*(TODO:|FIXME:|BUG:)(?!#i#)

mypy:
  name: mypy
  description: run mypy over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit mypy
  args:
  - --config-file=tox.ini
  language: system
  require_serial: true

flakehell:
  name: flakehell
  description: run flakehell over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit flakehell
  args:
  - lint
  - --safe
  language: system
  require_serial: true

tox dev_nox
  tox.ini
Due: find-todos

TEST WIN ERROR
  .github/workflows/test-code.yml
Due: find-todos

locale cmd
  .github/workflows/test-code.yml
Due: find-todos

python locale
  .github/workflows/test-code.yml
Due: find-todos

remove test stuff
  .github/workflows/test-code.yml
Due: find-todos

fix code test ci set status
  .github/workflows/test-code.yml
Due: find-todos

set status if
  .github/workflows/dependency-safety.yml
Due: find-todos

change publish ci check
  .github/workflows/publish.yml
Due: find-todos

Update dependency-safety.yml
  .github/workflows/dependency-safety.yml
Due: find-todos

Update TODO
  TODO
Due: none

todo
  TODO
Due: none

improve ci
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  TODO
  noxfile.py
Due: find-todos, mypy, flakehell

fix skip_install
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

fix publish
  .github/workflows/publish.yml
Due: find-todos

update formelsammlung to 4.0
  noxfile.py
  poetry.lock
  pyproject.toml
Due: find-todos, mypy, flakehell

release v1.1.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: find-todos

fix
  .github/workflows/code-quality.yml
Due: find-todos

ignore W0212[pylint] on tests
  pyproject.toml
Due: find-todos

add noqa
  prep_release.py
Due: find-todos, mypy, flakehell

add autoclass_content
  docs/source/conf.py
Due: find-todos, mypy, flakehell

spelling dict
  docs/source/spelling_dict.txt
Due: find-todos

update pr template
  .github/pull_request_template.md
Due: find-todos

Update .codeclimate.yml
  .codeclimate.yml
Due: find-todos

update
  pyproject.toml
Due: find-todos

up formelsammlung ver
  poetry.lock
  pyproject.toml
Due: find-todos

simplify flake8 plugins https://github.com/pre-commit-ci/issues/issues/7#issuecomment-775720443
  poetry.lock
  pyproject.toml
Due: find-todos

add skip for pre-commit.ci
  .pre-commit-config.yaml
Due: find-todos

add pc conf validation
  .pre-commit-config.yaml
Due: find-todos

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
