Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

pylint:
  args:
  - --rcfile=tox.ini
  - --ignore=version.py
  name: pylint
  entry: tox -e pylint --
  language: system

mypy:
  args:
  - --config-file
  - tox.ini
  name: mypy
  entry: .tox/pre-commit/bin/mypy
  language: system

pc
  .pre-commit-config.yaml
Due: none

fix pypr
  pyproject.toml
Due: none

black
  pyproject.toml
Due: none

black
  .pre-commit-config.yaml
Due: none

update prints
  tox.ini
Due: none

tox
  tox.ini
Due: none

isort skip
  .pre-commit-config.yaml
Due: none

comments
  pyproject.toml
Due: none

skips
  .pre-commit-config.yaml
Due: none

comments
  docs/source/conf.py
Due: pylint

fixedd poetry
  pyproject.toml
Due: none

added desc
  .pre-commit-config.yaml
Due: none

fixed conf
  docs/source/conf.py
Due: pylint

fix doc conf
  docs/source/conf.py
Due: pylint

fix pc tox runner script
  .tox_env_exe_runner
Due: none

fix tests
  tests/conftest.py
  tests/test_python_test.py
Due: pylint, mypy

fixed pkg
  src/python_test/__init__.py
  src/python_test/python_tester.py
Due: pylint, mypy

safety
  tox.ini
Due: none

sphinx ver
  pyproject.toml
Due: none

todo, lock, poetry hooks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

rm make
  docs/Makefile
  docs/make.bat
Due: none

..
  docs/source/conf.py
  src/python_test/__init__.py
Due: pylint, mypy

fixed isort seed
  .pre-commit-config.yaml
  pyproject.toml
Due: none

fixed tox print
  tox.ini
Due: none

init
  src/python_test/__init__.py
Due: pylint, mypy

moved configs
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: none

seed isort
  .pre-commit-config.yaml
Due: none

..
  .pre-commit-config.yaml
  poetry.lock
Due: none

added ver stuff to pkg
  src/python_test/python_tester.py
Due: pylint, mypy

cov
  poetry.lock
  pyproject.toml
  src/python_test/python_tester.py
  tox.ini
Due: pylint, mypy

trav
  tox.ini
Due: none

docs conf
  docs/source/conf.py
Due: pylint

docs
  docs/source/api.rst
  docs/source/conf.py
Due: pylint

docs
  docs/source/index.rst
Due: none

pypy
  tox.ini
Due: none

pypy
  .travis.yml
  tox.ini
Due: none

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: (?x)^(
    setup.py|
    docs/source/conf.py
)$

