Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, mypy, pylint, yesqa, flake8

rstcheck:
  args:
  - --config=tox.ini
  name: rstcheck
  description: check rst files
  entry: python pre-commit-helper.py rstcheck pre-commit
  language: system

mypy:
  args:
  - --config-file=tox.ini
  name: mypy
  description: run mypy over the installed version if available
  entry: python pre-commit-helper.py mypy pre-commit
  language: system
  require_serial: true

pylint:
  name: pylint
  description: run pylint over the installed version if available
  entry: python pre-commit-helper.py pylint pre-commit
  language: system

yesqa:
  args: []
  name: yesqa
  description: test if noqa is necessary
  entry: python pre-commit-helper.py yesqa pre-commit
  language: system

flake8:
  args:
  - --min-python-version=3.6.1
  name: flake8
  description: run flake8 over the installed version if available
  entry: python pre-commit-helper.py flake8 pre-commit
  language: system

fix code-test cache test for win
  .github/workflows/code-testing.yml
Due: none

remove tox from gitignore
  .gitignore
Due: none

added old tox file
  tox.ini
Due: none

added old workflows for code/doc-test
  .github/workflows/code-testing.yml
  .github/workflows/docs-testing.yml
  .github/workflows/skip-code-testing.yml
  .github/workflows/skip-docs-testing.yml
Due: none

WIP tox calls nox
  noxfile.py
  tox.ini
Due: mypy, pylint, yesqa, flake8

revert all workflow to tox
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/skip-dependency-safety.yml
Due: none

updated formelsammlung
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

tox call nox WIP
  noxfile.py
  tox.ini
Due: mypy, pylint, yesqa, flake8

cov - test WIP
  noxfile.py
  tox.ini
Due: mypy, pylint, yesqa, flake8

test WIP
  noxfile.py
  tox.ini
Due: mypy, pylint, yesqa, flake8

Update noxfile.py
  noxfile.py
Due: mypy, pylint, yesqa, flake8

revert
  noxfile.py
Due: mypy, pylint, yesqa, flake8

shorten doc test
  noxfile.py
Due: mypy, pylint, yesqa, flake8

Update tox.ini
  tox.ini
Due: none

Update poetry.lock
  poetry.lock
Due: none

.
  _old_files/noxfile.py
Due: mypy, pylint, yesqa, flake8

.2
  _old_files/gitlint.bak.py
  _old_files/noxfile.bak.py
Due: mypy, pylint, yesqa, flake8

move code test into base env tox2
  tox.ini
Due: none

added tox call group sessions
  noxfile.py
  tox.ini
Due: mypy, pylint, yesqa, flake8

todo
  TODO
Due: none

update deps
  TODO
  poetry.lock
  pyproject.toml
Due: none

more automate and wrapper for nox
  noxfile.py
Due: mypy, pylint, yesqa, flake8

spelling
  pyproject.toml
  tox.ini
Due: none

spelling
  .github/workflows/docs-testing.yml
Due: none

.
  poetry.lock
  tox.ini
Due: none

updated docs conf
  docs/source/api.rst
  docs/source/conf.py
  docs/source/installation.rst
Due: rstcheck, mypy, pylint, yesqa, flake8

update spelling conf
  docs/source/conf.py
  docs/source/spelling_wordlist_docs.txt
Due: mypy, pylint, yesqa, flake8

.
  docs/source/conf.py
Due: mypy, pylint, yesqa, flake8

spelling pyenchant
  .pre-commit-config.yaml
  TODO
Due: none

move conf back to toxini
  .mypy.ini
  .pre-commit-config.yaml
  .rstcheck.cfg
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update conf.py
  docs/source/conf.py
Due: mypy, pylint, yesqa, flake8

Update TODO
  TODO
Due: none

tmp fix
  noxfile.py
Due: mypy, pylint, yesqa, flake8

Path conditions:
  rstcheck: any of: \.rst$
  mypy: any of: \.py$
  pylint: any of: \.py$
  yesqa: any of: \.py$
  flake8: any of: \.py$
