Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

fix publish [skip ci]
  .github/workflows/publish.yml
Due: find-todos

turn back setup py to v2 [skip ci]
  .github/workflows/publish.yml
Due: find-todos

turn back to v2 for setup py [skip ci]
  .github/workflows/test-code.yml
Due: find-todos

fix pypy ver for setup-python v2.2
  pyproject.toml
Due: find-todos

badge update [skip ci]
  docs/source/badges.rst
Due: find-todos, rstcheck

fix pub [skip ci]
  .github/workflows/publish.yml
Due: find-todos

Rename updater.js to .pyproject_version.js
  .pyproject_version.js
Due: find-todos

Update .versionrc.js
  .versionrc.js
Due: find-todos

Create .codeclimate.yml
  .codeclimate.yml
Due: find-todos

add logo to isort [skip ci]
  docs/source/badges.rst
Due: find-todos, rstcheck

badges mypy [skip ci]
  docs/source/badges.rst
Due: find-todos, rstcheck

todo [skip ci]
  TODO
Due: none

init contri docs [skip ci]
  docs/source/contribution/index.rst
Due: find-todos, rstcheck

add contri docs link [skip ci]
  docs/source/index.rst
Due: find-todos, rstcheck

badges [skip ci]
  docs/source/badges.rst
Due: find-todos, rstcheck

move contri to docs [skip ci]
  docs/source/contribution/index.rst
Due: find-todos, rstcheck

update contri [skip ci]
  CONTRIBUTING.rst
Due: find-todos, rstcheck

steps [skip ci]
  STEP_GUIDE.rst
Due: find-todos, rstcheck

badges include [skip ci]
  docs/source/_badges.rst
Due: find-todos, rstcheck

badges include [skip ci]
  docs/source/index.rst
Due: find-todos, rstcheck

fix [skip ci]
  docs/source/index.rst
Due: find-todos, rstcheck

contri [skip ci]
  docs/source/contribution/index.rst
Due: find-todos, rstcheck

contri [skip ci]
  docs/source/contribution/issues.rst
Due: find-todos, rstcheck

contri [skip ci]
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

wording [skip ci]
  docs/source/contribution/index.rst
Due: find-todos, rstcheck

wording [skip ci]
  docs/source/contribution/issues.rst
Due: find-todos, rstcheck

dev [skip ci]
  docs/source/contribution/index.rst
Due: find-todos, rstcheck

add dev [skip ci]
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

link workaround [skip ci]
  docs/source/contribution/issues.rst
Due: find-todos, rstcheck

wording [skip ci]
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

Update test-code.yml
  .github/workflows/test-code.yml
Due: find-todos

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

add confluence builder step-guide [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck

rm confluence builder [skip ci]
  docs/source/conf.py
Due: find-todos, mypy, flakehell

rm confluence [skip ci]
  pyproject.toml
Due: find-todos

update [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck

tox [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck

rm confluence [skip ci]
  tox.ini
Due: find-todos

nox [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck
