Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flakehell, rstcheck

mypy:
  name: mypy
  description: run mypy over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit mypy
  args:
  - --config-file=tox.ini
  language: system
  require_serial: true

flakehell:
  name: flakehell
  description: run flakehell over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit flakehell
  args:
  - lint
  - --safe
  language: system

rstcheck:
  name: rstcheck
  description: check rst files
  entry: env_exe_runner tox,.venv pre_commit rstcheck
  args:
  - --config=tox.ini
  language: system

test
  .github/workflows/publish.yml
Due: none

deac poetry color in ci
  noxfile.py
Due: mypy, flakehell

fix pytest posargs
  noxfile.py
Due: mypy, flakehell

test
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: none

check only body not whole commit msg for BR CH2
  .github/workflows/publish.yml
Due: none

test failing test2 2
  .github/workflows/publish.yml
Due: none

fix
  .github/workflows/publish.yml
Due: none

fixes
  .github/workflows/publish.yml
Due: none

fix cm check
  .github/workflows/publish.yml
Due: none

fix check
  .github/workflows/publish.yml
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

wip pub
  .github/workflows/publish.yml
Due: none

todo
  CHANGELOG.md
  TODO
Due: none

rm CL.md
  CHANGELOG.md
Due: none

todo
  .github/workflows/publish.yml
  docs/source/conf.py
Due: mypy, flakehell

move _testing section
  pyproject.toml
Due: none

dev update
  .gitignore
  CONTRIBUTING.rst
  noxfile.py
Due: mypy, flakehell, rstcheck

fix docstr
  noxfile.py
Due: mypy, flakehell

chore(release): 0.5.10
  CHANGELOG.md
  pyproject.toml
Due: none

fix(smth): bla blub
  CHANGELOG.rst
Due: rstcheck

chore(release): 0.5.11
  CHANGELOG.md
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$
