Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flakehell, rstcheck

Path conditions:
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

test
  CONTRIBUTING.rst
Due: rstcheck

test wip
  CONTRIBUTING.rst
Due: rstcheck

test WIP
  CONTRIBUTING.rst
Due: rstcheck

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: rstcheck

todo
  noxfile.py
Due: mypy, flakehell

added cache.txt
  .gitignore
Due: none

rm todo
  noxfile.py
Due: mypy, flakehell

rm marker
  _old_files/gitlint.bak.py
  _old_files/noxfile.bak.py
Due: mypy, flakehell

contri
  CONTRIBUTING.rst
  STEP_GUIDE.rst
Due: rstcheck

contri
  CONTRIBUTING.rst
Due: rstcheck

todo
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

conti
  CONTRIBUTING.rst
Due: rstcheck

added poetry-mirror as pc-hook
  .pre-commit-config.yaml
Due: none

further automation of docs conf
  docs/source/conf.py
Due: mypy, flakehell

todo
  docs/source/badges.rst
Due: rstcheck

gha badges
  docs/source/badges.rst
Due: rstcheck

update format
  docs/source/badges.rst
Due: rstcheck

fixes
  docs/source/badges.rst
Due: rstcheck

format
  docs/source/badges.rst
Due: rstcheck

todo
  tox.ini
Due: none

lint
  CONTRIBUTING.rst
Due: rstcheck

rename skips
  .github/workflows/dependency-safety-skip.yml
  .github/workflows/test-code-skip.yml
  .github/workflows/test-docs-skip.yml
Due: none

Create citestfile
  citestfile
Due: none

Delete citestfile
  citestfile
Due: none

change dep-safe ci
  .github/workflows/dependency-safety.yml
Due: none

todo
  .github/workflows/dependency-safety-skip.yml
Due: none

fix comment
  .github/workflows/test-docs.yml
Due: none

rm todo
  .github/workflows/test-docs-skip.yml
Due: none

fix skip
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
Due: none

todo
  .github/workflows/publish.yml
  .github/workflows/update-pre-commit-config.yml
  tox.ini
Due: none

todo
  .github/workflows/publish.yml
Due: none
