Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy

Path conditions:
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: (?x)^(
    setup.py|
    docs/source/conf.py
)$


badges
  docs/source/badges.rst
Due: none

setup
  setup.py
Due: pylint

pre-commit scripts
  .pre-commit-scripts/run-pylint
Due: none

pre-commit scripts
  .pre-commit-scripts/run-mypy
Due: none

scripts
  .pre-commit-scripts/run_mypy
  .pre-commit-scripts/run_pylint
Due: none

...
  README.rst
  setup.cfg
Due: none

pre-commit
  .pre-commit-config.yaml
Due: none

moved cofings to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
Due: none

tox
  tox.ini
Due: none

Update tox.ini
  tox.ini
Due: none

Create test_examples.py
  tests/test_examples.py
Due: pylint, mypy

Update __init__.py
  src/python_test/__init__.py
Due: pylint, mypy

Create template.jinja2
  docs/.changelog/template.jinja2
Due: none
