Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flakehell, rstcheck

mypy:
  name: mypy
  description: run mypy over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit mypy
  args:
  - --config-file=tox.ini
  language: system
  require_serial: true

flakehell:
  name: flakehell
  description: run flakehell over the installed version if available
  entry: env_exe_runner tox,.venv pre_commit flakehell
  args:
  - lint
  - --safe
  language: system

rstcheck:
  name: rstcheck
  description: check rst files
  entry: env_exe_runner tox,.venv pre_commit rstcheck
  args:
  - --config=tox.ini
  language: system

todo
  .github/workflows/TODO
  .github/workflows/dependency-safety-skip.yml
  noxfile.py
Due: mypy, flakehell

added color envvars to tox
  tox.ini
Due: none

added _NOX_FORCE_COLOR envvar
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-docs.yml
  noxfile.py
  tox.ini
Due: mypy, flakehell

rm old cmd with color args in wf
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-docs.yml
Due: none

update
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
  .github/workflows/test.yml
Due: none

todo
  tox.ini
Due: none

todo
  .github/workflows/publish.yml
  .github/workflows/update-pre-commit-config.yml
Due: none

todo
  .github/workflows/TODO
  .github/workflows/test-docs.yml
Due: none

todo
  .github/workflows/TODO
  CONTRIBUTING.rst
  docs/source/badges.rst
Due: rstcheck

todo
  .github/workflows/test-docs.yml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update noxfile.py
  noxfile.py
Due: mypy, flakehell

Update test-docs.yml
  .github/workflows/test-docs.yml
Due: none

lint
  .github/workflows/test-docs.yml
Due: none

todo
  .github/stale.yml
Due: none

def py code test
  .github/workflows/test-code.yml
Due: none

conf to pyproj
  .github/workflows/test-code.yml
  pyproject.toml
Due: none

test
  .github/workflows/code-quality.yml
  .github/workflows/test-code.yml
  .github/workflows/test.yml
  pyproject.toml
Due: none

test
  .github/workflows/test.yml
Due: none

readable
  .github/workflows/test-code.yml
Due: none

readable
  .github/workflows/.workflow_snippets.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Due: none

add OS to cov-filename from tests
  noxfile.py
Due: mypy, flakehell

change junit fname
  noxfile.py
Due: mypy, flakehell

spell
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
Due: none

test overhaul
  .github/workflows/test-code.yml
  pyproject.toml
Due: none

updated formelsammlung with fix
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: none

code test
  .github/workflows/test-code.yml
Due: none

test
  .github/workflows/test-code.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$
