Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

..
  pyproject.toml
Due: find-todos

test
  .pre-commit-config.yaml
Due: find-todos

test
  .commitlintrc.js
  .pre-commit-config.yaml
Due: find-todos

lock update
  poetry.lock
Due: find-todos

update cc
  .codeclimate.yml
Due: find-todos

todo
  TODO
Due: none

fix string type in publish
  .github/workflows/publish.yml
Due: find-todos

fix release year in docs conf
  docs/source/conf.py
Due: find-todos, mypy, flakehell

add missing import
  .github/workflows/publish.yml
Due: find-todos

test release w/o commit status chekc
  .github/workflows/publish.yml
Due: find-todos

move creation year back to docs
  TODO
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy, flakehell

Update TODO
  TODO
Due: none

Update conf.py
  docs/source/conf.py
Due: find-todos, mypy, flakehell

rm toml part
  docs/source/conf.py
Due: find-todos, mypy, flakehell

fix extras
  pyproject.toml
Due: find-todos

Update poetry.lock
  poetry.lock
Due: find-todos

cc link [skip ci]
  .github/workflows/test-code.yml
Due: find-todos

Update pyproject.toml
  pyproject.toml
Due: find-todos

Update test-code.yml
  .github/workflows/test-code.yml
Due: find-todos

Update publish.yml
  .github/workflows/publish.yml
Due: find-todos

wip pub
  .github/workflows/publish.yml
Due: find-todos

test
  .github/workflows/publish.yml
Due: find-todos

fix
  .github/workflows/publish.yml
Due: find-todos

link fixated
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: find-todos

spelling
  .github/stale.yml
Due: find-todos

tzest
  .github/workflows/publish.yml
Due: find-todos
