Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, mypy, flakehell, pylint-spelling

Path conditions:
  rstcheck: any of: \.rst$
  mypy: any of: \.py$
  flakehell: any of: \.py$
  pylint-spelling: any of: \.py$

fix doc test
  noxfile.py
Due: mypy, flakehell, pylint-spelling

ffix
  docs/source/spelling_dict.txt
  noxfile.py
Due: mypy, flakehell, pylint-spelling

name change
  .github/workflows/test-code.yml
Due: none

name change
  .github/workflows/skip-test-code.yml
  .github/workflows/skip-test-docs.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs.yml
Due: none

Update TODO
  TODO
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update __init__.py
  src/python_test_cielquan/__init__.py
Due: mypy, flakehell, pylint-spelling

Update python_tester.py
  src/python_test_cielquan/python_tester.py
Due: mypy, flakehell, pylint-spelling

Update tox.ini
  tox.ini
Due: none

add 100cov to code test
  noxfile.py
Due: mypy, flakehell, pylint-spelling

Update test-docs.yml
  .github/workflows/test-docs.yml
Due: none

Update noxfile.py
  noxfile.py
Due: mypy, flakehell, pylint-spelling

Update badges.rst
  docs/source/badges.rst
Due: rstcheck

added pre-commit install session
  noxfile.py
Due: mypy, flakehell, pylint-spelling

Update skip-test-docs.yml
  .github/workflows/skip-test-docs.yml
Due: none

Update code-quality.yml
  .github/workflows/code-quality.yml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

todo
  TODO
Due: none

moved todos to files
  .github/workflows/release.yml
  .github/workflows/skip-dependency-safety.yml
  .github/workflows/skip-test-code.yml
  .github/workflows/skip-test-docs.yml
  .github/workflows/update-pre-commit-config.yml
  CONTRIBUTING.rst
  TODO
  tox.ini
Due: rstcheck

update ignore
  .gitignore
Due: none

test
  CONTRIBUTING.rst
Due: rstcheck
