Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, flakehell, rstcheck

Path conditions:
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

todo
  noxfile.py
Due: mypy, flakehell

posargs tox nox
  CONTRIBUTING.rst
  noxfile.py
  tox.ini
Due: mypy, flakehell, rstcheck

fix doc test ci args
  .github/workflows/test-docs.yml
Due: none

merge steps
  .github/workflows/test-docs.yml
Due: none

fix missing skip_install in tox
  tox.ini
Due: none

more color
  .github/workflows/test-docs.yml
Due: none

colorful poetry
  .github/workflows/test-docs.yml
  noxfile.py
  tox.ini
Due: mypy, flakehell

fix poetry color
  .github/workflows/test-docs.yml
  noxfile.py
Due: mypy, flakehell

Update noxfile.py
  noxfile.py
Due: mypy, flakehell

Update code-quality.yml
  .github/workflows/code-quality.yml
Due: none

Update CONTRIBUTING.rst
  CONTRIBUTING.rst
Due: rstcheck

shorten bak of noxfile
  _old_files/noxfile.bak.py
Due: mypy, flakehell

updated formelsammlung to 3.0.0
  poetry.lock
  pyproject.toml
Due: none

updapte noxfile
  docs/source/spelling_dict.txt
  noxfile.py
Due: mypy, flakehell

test
  .github/workflows/test.yml
Due: none

todo
  .github/workflows/TODO
Due: none

fix doc test skip wf
  .github/workflows/test-docs-skip.yml
Due: none

fix safety skip wf
  .github/workflows/dependency-safety-skip.yml
Due: none

todo
  noxfile.py
  pyproject.toml
  tox.ini
Due: mypy, flakehell

Update tox.ini
  tox.ini
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none
