Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: rstcheck, mypy, pylint, yesqa, flake8

rstcheck:
  args:
  - --config=tox.ini
  name: rstcheck
  description: check rst files
  entry: python pre-commit-helper.py rstcheck pre-commit
  language: system

mypy:
  args:
  - --config-file=tox.ini
  name: mypy
  description: run mypy over the installed version if available
  entry: python pre-commit-helper.py mypy pre-commit
  language: system
  require_serial: true

pylint:
  name: pylint
  description: run pylint over the installed version if available
  entry: python pre-commit-helper.py pylint pre-commit
  language: system

yesqa:
  args: []
  name: yesqa
  description: test if noqa is necessary
  entry: python pre-commit-helper.py yesqa pre-commit
  language: system

flake8:
  args:
  - --min-python-version=3.6.1
  name: flake8
  description: run flake8 over the installed version if available
  entry: python pre-commit-helper.py flake8 pre-commit
  language: system

chore(release): 0.5.8
  CHANGELOG.md
Due: none

Update tox.ini
  tox.ini
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Update poetry.lock
  poetry.lock
Due: none

Update gitlint.py
  _old_files/gitlint.py
Due: mypy, pylint, yesqa, flake8

Update TODO
  TODO
Due: none

Update update-pre-commit-config.yml
  .github/workflows/update-pre-commit-config.yml
Due: none

todo
  TODO
Due: none

rm towncrier
  _old_files/pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

flakehell conf WIP
  pyproject.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update conftest.py
  tests/conftest.py
Due: mypy, pylint, yesqa, flake8

Update test_python_test.py
  tests/test_python_test.py
Due: mypy, pylint, yesqa, flake8

..
  TODO
Due: none

mypy badge
  docs/source/badges.rst
Due: rstcheck

psr conf
  pyproject.toml
Due: none

Path conditions:
  rstcheck: any of: \.rst$
  mypy: any of: \.py$
  pylint: any of: \.py$
  yesqa: any of: \.py$
  flake8: any of: \.py$
