Repository Cielquan/python_test-cielquan: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-todos, mypy, flakehell, rstcheck

Path conditions:
  find-todos: any file but: TODO
  mypy: any of: \.py$
  flakehell: any of: \.py$
  rstcheck: any of: \.rst$

rm confluence [skip ci]
  noxfile.py
Due: find-todos, mypy, flakehell

markup [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck

rm confl [skip ci]
  docs/source/conf.py
Due: find-todos, mypy, flakehell

sphinx [skip ci]
  STEP_GUIDE-confluence-docs.rst
Due: find-todos, rstcheck

move sphinx-click to step-guide
  STEP_GUIDE-docs-builder.rst
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy, flakehell, rstcheck

rm extra
  pyproject.toml
Due: find-todos

rm more from conf.py
  STEP_GUIDE-docs-builder.rst
  docs/source/conf.py
  pyproject.toml
Due: find-todos, mypy, flakehell, rstcheck

put test ddeps to stepguide
  STEP_GUIDE-add-stuff.rst
  pyproject.toml
Due: find-todos, rstcheck

mv gitflow to on docs files
  TODO
  docs/source/contribution/development.rst
  docs/source/contribution/git_workflow.rst
  docs/source/contribution/index.rst
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

reformat [skip ci]
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

todo
  TODO
Due: none

fix lint
  STEP_GUIDE-add-stuff.rst
  docs/source/contribution/issues.rst
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

adde commitliint config
  .commitlintrc.js
  .versionrc.js
Due: find-todos

todo
  .commitlintrc.js
  TODO
Due: find-todos

todo [skip ci]
  TODO
Due: none

added yamllint
  .pre-commit-config.yaml
Due: find-todos

added pdbpp to dev deps
  poetry.lock
  pyproject.toml
Due: find-todos

added pygments as dev dep
  poetry.lock
  pyproject.toml
Due: find-todos

added comment
  docs/source/conf.py
  poetry.lock
Due: find-todos, mypy, flakehell

Update pyproject.toml
  pyproject.toml
Due: find-todos

Update noxfile.py
  noxfile.py
Due: find-todos, mypy, flakehell

Update TODO
  TODO
Due: none

Update poetry.lock
  poetry.lock
Due: find-todos

Update .gitignore
  .gitignore
Due: find-todos

fix test-code
  .github/workflows/test-code.yml
Due: find-todos

fixed docs spelling
  docs/source/contribution/development.rst
  docs/source/contribution/git_workflow.rst
  docs/source/contribution/index.rst
  docs/source/contribution/issues.rst
  docs/source/contribution/pull_requests.rst
Due: find-todos, rstcheck

rm update pre-commit workflow
  .github/workflows/update-pre-commit-config.yml
  TODO
Due: find-todos

Create dependabot.yml
  .github/dependabot.yml
Due: find-todos

Update dependabot.yml
  .github/dependabot.yml
Due: find-todos

rm dev2 nox ses
  noxfile.py
Due: find-todos, mypy, flakehell

Update development.rst
  docs/source/contribution/development.rst
Due: find-todos, rstcheck

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: find-todos

yamllint yaml files
  .codeclimate.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/.workflow_snippets.yml
  .github/workflows/code-quality.yml
  .github/workflows/dependency-safety-skip.yml
  .github/workflows/dependency-safety.yml
  .github/workflows/publish.yml
  .github/workflows/test-code-skip.yml
  .github/workflows/test-code.yml
  .github/workflows/test-docs-skip.yml
  .github/workflows/test-docs.yml
  .pre-commit-config.yaml
  .readthedocs.yaml
  .yamllint.yaml
  _old_files/.travis.yml
  _old_files/azure-pipelines.yml
  _old_files/codecov.yml
Due: find-todos
